body {
    background-color: #E9CEF0;
    font-family: Trebuchet MS;
}

.headerClass {
    margin-top: 45px;
    margin-left: 150px; 
}

.mainContent {
    margin-top: 31px;
    margin-left: 150px;
    margin-bottom: 50px; 
}

#greetingOutput {
    height: 20px; 
    margin-bottom: 40px;
}

.header-logo{
    height: 150px;
}

.header-space{
    text-align: center;
}

 @media only screen  and (max-width: 768px ){
    .header-logo{
        height: 50px;
    }
}